/* src/styles/global.scss */

@use "./cyclone-fonts";
@use "./cyclone-variables" as vars;
@use "./cyclone-reset";
@use "./cyclone-animations.scss";
@use "./cyclone-mixins.scss" as mixins;

/* Root-level color scheme and font-smoothing */
:root {
  color-scheme: light dark;

  /* Default text and background colors (dark mode) */
  --default-background: radial-gradient(
  circle at top left,
  #3a4f63 0%,
  #2b3b4a 35%,
  #212121 70%
);
  --default-text-color: var(--color-mashumaro);
  background: var(--default-background);
  color: var(--default-text-color);

  // <aside> Dark Neumorphism
  --aside-background: linear-gradient(
    145deg,
    #2a2a2a,
    #212121
  );
  --aside-box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.04),
                      6px  6px 18px rgba(0, 0, 0, 0.6);
  --aside-dent-box-shadow: inset 17px 17px 34px #161616,
                          inset -17px -17px 34px #2c2c2c;
  --aside-input-box-shadow: inset 28px 28px 81px #1f1f1f,
                            inset -28px -28px 81px #232323;
  --aside-button-box-shadow: 8px 8px 16px #1a1a1a,
                            -8px -8px 16px #282828;

  // Dependencies
  --nav-height: 50px; // for fixed element top start point
}

html {
  font-family: vars.$font-pixeBoy;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 0;
}

nav {
  @include mixins.frosted-gradient(to bottom, dark);

  align-items: center;
  display: flex;
  height: var(--nav-height);
  padding: 16px;
  position: relative;
  z-index: 2; // necessary
}

aside {
  opacity: 1;
  overflow: scroll;
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  padding-inline: 1rem;
  padding-top: calc(var(--nav-height) + 16px);
  translate: 0 0;
  transition-behavior: allow-discrete;
  transition-duration: 1s;
  transition-property: display opacity, translate;
  width: 100vw;  // fallback
  width: 100dvw; // modern browsers
  z-index: 1; // not necessary - declared to be explicit

  @starting-style {
    opacity: 0;
    translate: -100% 0;
  }

  &[aria-hidden=true] {
    display: none;
    opacity: 0;
    translate: 100% 0;
  }
}

main {
  border: 2px solid red;
}

h2 {
  font-size: 2rem;
  margin-inline: auto;
}

pre {
  animation: pulse 3s linear alternate infinite;
  opacity: 1;
  text-align: center;
}

code {
  color: var(--color-binky);
  font-family: vars.$font-pixeBoy;
  font-size: 1.5rem;
  text-shadow: 0 0 16px var(--color-binky);
}

button {
  color: var(--default-text-color); // Prevents Blue Default
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  :root {
    --default-background: linear-gradient(
  135deg,
  #93c2d7 0%,
  #7faec6 50%,
  #6b9bb5 100%
);;
    --default-text-color: var(--color-dusk);

    // <aside> Light Neumorphism
    --aside-background: linear-gradient(
      45deg,
    #f2f4f7,
    #e6eaee
    );
    --aside-box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.6),
                        4px  4px 10px rgba(80, 110, 140, 0.08);
    --aside-dent-box-shadow: inset 15px 15px 30px #989b9d,
                              inset -15px -15px 30px #ffffff;
    --aside-input-box-shadow: inset 5px 5px 10px #a5a7a9,
                              inset -5px -5px 10px #ffffff;
    --aside-button-box-shadow: 8px 8px 9px #d0d4d6,
                              -8px -8px 9px #ffffff;

  }

  nav {
    @include mixins.frosted-gradient(to bottom, light);
  }
}

// desktop styles
// @media (min-width: 1024px) { ... }
