/* src/styles/global.scss */

@use "./cyclone-fonts";
@use "./cyclone-variables" as vars;
@use "./cyclone-reset";
@use "./cyclone-animations.scss";
@use "./cyclone-glass.scss";
@use "./cyclone-mixins.scss" as mixins;

/* Root-level color scheme and font-smoothing */
:root {
  color-scheme: light dark;

  /* Default text and background colors (dark mode) */
  color: var(--color-mashumaro);
  background-color: var(--color-dusk);
}

html {
  font-family: vars.$font-pixeBoy;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  place-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: fixed;
  inset: 0 auto 0 0;
  height: 100vh;

}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dusk);
    background-color: var(--color-mashumaro);
  }
}

/* Dark mode overrides (reinforces defaults) */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-mashumaro);
    background-color: var(--color-dusk);
  }
}
