/* src/styles/fonts.scss */

@font-face {
  font-family: 'cyclone';
  src: url('https://cyclone-studios.s3.us-east-2.amazonaws.com/s3_cyclone-studios/fonts/cyclone/cyclone.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'pixeBoy';
  src: url('https://cyclone-studios.s3.us-east-2.amazonaws.com/s3_cyclone-studios/fonts/pixeBoy/pixeBoy.woff2') format('woff2');
  font-display: swap;
}
