/* src/styles/global.scss */

@use "./cyclone-fonts";
@use "./cyclone-variables" as vars;
@use "./cyclone-reset";
@use "./cyclone-animations.scss";
@use "./cyclone-glass.scss";
@use "./cyclone-mixins.scss" as mixins;

/* Root-level color scheme and font-smoothing */
:root {
  color-scheme: light dark;

  /* Default text and background colors (dark mode) */
  color: var(--color-mashumaro);
  background-color: var(--color-dusk);

  // Dependencies
  --nav-height: 50px; // for fixed element top start point
}

html {
  font-family: vars.$font-pixeBoy;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @include mixins.neutral-background(dark);

  display: grid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 0;
}

nav {
  @include mixins.frosted-gradient(to bottom, dark);

  align-items: center;
  display: flex;
  margin-bottom: 16px;
  height: var(--nav-height);
  padding: 16px;
  position: relative;
  z-index: 2; // necessary
}

aside {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 1;
  overflow: scroll;
  padding: 16px;
  pointer-events: all;
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  padding-top: calc(var(--nav-height) + 16px);
  transition: opacity 1s ease-in-out;
  width: 100vw;  // fallback
  width: 100dvw; // modern browsers
  z-index: 1; // not necessary - declared to be explicit

  &[aria-hidden=true] {
    opacity: 0;
    pointer-events: none;
  }
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dusk);
    background-color: var(--color-mashumaro);
  }

  body {
    @include mixins.neutral-background(light);
  }
  nav {
    @include mixins.frosted-gradient(to bottom, light);
  }
}

/* Dark mode overrides (reinforces defaults) */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-mashumaro);
    background-color: var(--color-dusk);
  }

  body {
    @include mixins.neutral-background(dark);
  }

  nav {
    @include mixins.frosted-gradient(to bottom, dark);
  }
}

// desktop styles
// @media (min-width: 1024px) { ... }
