.aside-content-wrapper {
  background-color: #212121;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.form-section-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}