/* src/components/FormSection.module.scss */

.form {
  border-radius: 6rem;
  background: var(--aside-background-color);
  box-shadow: var(--aside-dent-box-shadow);
  padding: 3rem 1.5rem 3rem 1.5rem;

  &::before,
  &::after {
    border-radius: inherit;
  }
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-inline: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input,
  textarea {  
    // TODO: Match date input styling to other inputs
    // appearance: none;
    box-shadow: var(--aside-input-box-shadow);
    border: none;
    border-radius: 100vw;
    padding: 1em 1.5em;
  }

  &:last-child {
    margin-bottom: 2rem;
  }
}

.button {
  border: none;
  border-radius: 100vw;
  box-shadow: var(--aside-button-box-shadow);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.55rem;
  margin-inline: auto;
  padding: 1em 3em;
}