/* src/components/FormSection.module.scss */

.form {
  border-radius: 16px;
  padding: 8px 16px;

  &::before,
  &::after {
    border-radius: inherit;
  }
}

.title {

}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 0.5rem;

  input,
  textarea {
    border-radius: 8px;
    padding: 0.25em 0.5em;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.button {
  border: 1px solid white;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 0.55rem;
  padding: 0.25em 1em;
  cursor: pointer;
}