/* src/components/FormSection.module.scss */

.form {
  border-radius: 6rem;
  background: #212121;
  box-shadow: inset 17px 17px 34px #161616,
              inset -17px -17px 34px #2c2c2c;
  padding: 3rem 2.5rem 3rem 2.5rem;

  &::before,
  &::after {
    border-radius: inherit;
  }
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 1rem;

  input,
  textarea {
    border-radius: 8px;
    padding: 0.25em 0.5em;
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.button {
  border: 1px solid white;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 0.55rem;
  padding: 0.25em 1em;
  cursor: pointer;
}