#draft-section {
  border: 3px solid yellow;
}

#general-draft {
  border: 1px solid orange;
}

#education-draft {
  border: 1px solid magenta;
}

#practical-draft {
  border: 1px solid chartreuse;
}


// ? Each of the above is a draft container
.draft-container {
  box-shadow: inset 0 0 33px black;
}