#cv-preview-section {
  border: 3px solid yellow;

  #cv-preview {
    #general-draft {
      border: 1px solid orange;
    }

    #education-draft {
      border: 1px solid magenta;
    }

    #practical-draft {
      border: 1px solid chartreuse;
    }

    // ? Each of the above is a draft container
    .draft-container {
      box-shadow: inset 0 0 33px red;
    }
  }
}

#cv-printable-viewport {
  border: 10px solid black;
  // display: flex;  
  display: none;  
  justify-content: center;
  padding: 1rem;

  #cv-printable {
    background-color: white;
    min-height: 11in;
    padding: 0.5in;
    width: 8.5in;
  }
}
