#cv-preview-section {

  border: 3px solid yellow;
  padding: 5vw;
  
  #cv-preview {
    aspect-ratio: 8.5 / 11;
    color: whitesmoke;
    padding: 5vw;
    background-color: rgb(55, 55, 55);

    // ? temp
    // #general-draft {
    //   border: 1px solid orange;
    // }
    // ? temp
    // #education-draft {
    //   border: 1px solid magenta;
    // }
    // ? temp
    // #practical-draft {
    //   border: 1px solid chartreuse;
    // }
    // ? Each of the above is a draft container

    .draft-container {
      box-shadow: inset 0 0 33px red;

      h3 {
        font-size: 3rem;
      }

      ul {
        list-style: none;

      }
    }
  }
}

#cv-printable-viewport {
  border: 10px solid black;
  // display: flex;  
  display: none;  
  justify-content: center;
  padding: 1rem;

  #cv-printable {
    background-color: white;
    min-height: 11in;
    padding: 0.5in;
    width: 8.5in;
  }
}
